.input-group {
    width: 100%
}

.list-group {
    width: 100%;
}

.list-group-item:hover {
    background-color: #f7f7f7;
}

form a {
    margin-left: 5px;
}

.edit-item{
    color: #3588d0;
    user-select: none;
}

.edit-item:hover{
    color: red;
}

li > a {
    user-select: none;
}
